@model SignInViewModel
@{
    ViewBag.Title = "Sign in";
}

<div class="form-pane">
    <h3 class="mb-3">Sign in to your account</h3>

    <form asp-action="SignIn" method="post">
        <div class="form-group mb-2">
            <label hidden class="form-label" asp-for="Username"></label>
            <input class="form-control" asp-for="Username" placeholder="Username" />
            <span class="form-label text-danger" asp-validation-for="Username"></span>
            @if (Model.UserNotFound)
            {
                <span class="form-label text-danger">There is no account associated with this username.</span>
            }
        </div>

        <div class="form-group mb-2">
            <label hidden class="form-label" asp-for="Password"></label>
            <input class="form-control" asp-for="Password" placeholder="Password" />
            <span class="form-label text-danger" asp-validation-for="Password"></span>
            @if (Model.WrongPassword)
            {
                <span class="form-label text-danger">This password is not correct.</span>
            }
        </div>

        <input class="btn mt-1" type="submit" value="Sign in" />
    </form>
</div>