@using Data.Entities
@model User
@if (Model is not null)
{
    <div class="nav-item me-3">
        <a class="nav-link" asp-controller="Account" asp-action="Profile" asp-route-id="@Model.Id">
            <span class="fa-solid fa-user me-2"></span>
            @Model.Name
        </a>
    </div>

    <div class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="ForumSignOut">
            <span class="fa-solid fa-sign-out me-2"></span>
            Sign out
        </a>
    </div>
}
else
{
    <div class="nav-item me-3">
        <a class="nav-link" asp-controller="Account" asp-action="SignIn">
            <span class="fa-solid fa-sign-in me-2"></span>
            Sign in
        </a>
    </div>

    <div class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Register">
            <span class="fa-solid fa-user-plus me-2"></span>
            Register
        </a>
    </div>

}