/*header*/
.navbar {
    background-color: #111111;
}

/*font-size*/

.text-xx-large{
    font-size: xx-large;
}

.text-x-large{
    font-size: x-large;
}

.text-large{
    font-size: large;
}


/*relative padding/margin*/
.topic, main > .post, .form-pane {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.form-pane{
    padding: 0.5rem 1rem;
}

@media (min-width:576px) {
    .topic, main > .post, .form-pane {
        margin-left: 1.5rem;
        margin-right: 1.5em;
    }
}

@media (min-width:768px) {
    .topic, main > .post, .form-pane {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .form-pane {
        padding: 0.75rem 1.25rem;
    }
}

@media (min-width:992px) {
    .topic, main > .post, .form-pane {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .form-pane {
        padding: 1rem 1.5rem;
    }
}

@media (min-width:1200px) {
    .topic, main > .post, .form-pane {
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .form-pane {
        padding-left: 1.75rem;
        padding-right: 1.75rem;
    }
}

@media (min-width:1400px) {
    .topic, main > .post, .form-pane {
        margin-left: 20rem;
        margin-right: 20rem;
    }

    .form-pane {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

/*links*/
.btn {
    background-color: var(--bs-secondary);
    color: var(--bs-color);
}

.btn:hover, .btn:focus {
    background-color: var(--bs-primary);
}

.a-muted, .link-icon {
    text-decoration: none;
    color: var(--bs-dark);
}

.small {
    color: #787878;
}

.link-icon:hover, .link-icon:focus,
.a-muted:hover, .a-muted:focus {
    color: var(--bs-primary) !important;
    cursor: pointer;
}

.rated {
    color: #b29758 !important;
}

.link-icon.rated:hover, .link-icon.rated:focus {
    color: #9fa8af !important;
}

/*.small > .a-muted:hover, .small > .a-muted:focus*//*,
h5 > .a-muted*/ /*{
    color: var(--bs-primary) !important;
}*/

/*h5 > .a-muted:hover, h5 > .a-muted:focus{
    color: var(--bs-dark) !important;
}*/

/*msg*/
.topic, main > .post, .form-pane {
    border-radius: 14px;
    background-color: #111111;
}

.topic-body > .post {
    border-radius: 8px;
}

.reply {
    border-radius: 0 8px 8px;
}

.topic-body > .post, .reply {
    background-color: #222222;
}

.post > .msg-label {
    padding: 0.5em 0.7em 0.3em 0.7em;
}

.topic-label, .topic > .post > .msg-label, .reply > .msg-label {
    padding: 0.3em 0.7em;
}

.topic-body, .msg-body, .post-footer {
    padding: 0.2em 0.7em;
}

.post-footer {
    border-radius: 0 0 11px 11px;
}

/*other*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}