@using Data.Entities
@{
    // message is not enveloped by post/reply div here
    // to allow extending post with post-footer for replies in post view

    Message message = ViewBag.Message;
}

@if (message is Post)
{
    // post header
    ViewBag.Post = (Post)message;
    <partial name="_PostHeader" view-data="ViewData"/>
}
else
{
    // reply header
    <div class="msg-label d-flex align-items-end">
        <h6 class="mb-0">
            <a class="a-muted" asp-action="Author" asp-route-id="@message.AuthorId">
                @message.Author.Name
            </a>
        </h6>
    </div>
}

@* message body *@
<div class="msg-body">
    @Html.Raw(message.Text.Replace(Environment.NewLine, "<br/>"))
</div>

@* message footer *@
<partial name="_MessageFooter" view-data="ViewData"/>