@using Data.Entities
@{
    var message = ViewBag.Message;
}

<div class="msg-label d-flex align-items-end">
    <div class="d-flex">
        <a class="a-muted me-2"><span class="link-icon fa-solid fa-thumbs-up"></span></a>
        <div>@message.RateSum</div>
        <a class="a-muted ms-2"><span class="link-icon fa-solid fa-thumbs-down"></span></a>
    </div>
        
    <div class="ms-auto d-flex align-items-end">
        @if (message is Post)
        {
            var post = (Post)message;
            <span>@post.Replies.Count replies</span>
        }
        @if ( ViewBag.PostView )
        {
            <a class="a-muted" asp-action="NewReply" asp-route-id="@message.Id">
                <span class="link-icon fa-solid fa-message text-large ms-2"></span>
            </a>
        }
    </div>
</div>