@using Web.Models
@model TopicsViewModel
@{
    ViewBag.Title = "Topics";
    ViewBag.TopicsView = true;
    ViewBag.PostView = false;
    ViewBag.NewView = false;

    foreach (var post in Model.MainPostsByTopic)
    {
        ViewBag.Topic = post.Topic;
        ViewBag.Message = post;
        <div class="topic mb-2">
            <partial name="_TopicHeader" view-data="ViewData"/>
            <div class="topic-body">
                <div class="post mb-1">
                    <partial name="_Message" view-data="ViewData"/>
                </div>
            </div>
        </div>
    }
}