<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Forum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/my-bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="sticky-top shadow-sm mb-2">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand a-muted" asp-controller="Message" asp-action="Topics">
                    <span class="fa-solid fa-comments me-2"></span>
                    Forum
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navCollapse collapse navbar-collapse" aria-expanded="false" aria-controls="navCollapse">
                    <div class="navbar-nav">
                        <div class="nav-item">
                            <a class="nav-link a-muted" asp-controller="Message" asp-action="Topics">
                                Topics
                            </a>
                        </div>
                    </div>
                 </div>

                 <div class="navCollapse collapse navbar-collapse pull-right flex-row-reverse">
                    <div class="navbar-nav">
                        @await Component.InvokeAsync("AccountPane")
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
